extends ../bower_components/crud-assets/templates/_index.pug

block title
  | Транспорт{% if title %} - {{title}}{% endif %}

block navbrand
  | Транспорт

block navbar
  ul(class="nav navbar-nav")
    li
      a(href="{{ url_for('trans.homepage') }}") Протоколы
    li
      a(href="{{ url_for('trans.homepage') }}") Решения
    li
      a(href="{{ url_for('trans.homepage') }}") Постановления
    li(class="dropdown")
      a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Добавить <span class="caret"></span>
      ul(class="dropdown-menu")
        li
          a(href="{{ url_for('trans.edit_location') }}") Локация
        li
          a(href="{{ url_for('trans.homepage') }}") Решение
        li
          a(href="{{ url_for('trans.homepage') }}") Протокол
        li
          a(href="{{ url_for('trans.homepage') }}") Дело
        li
          a(href="{{ url_for('trans.homepage') }}") Опись
    li(class="dropdown")
      a(href="#", class="dropdown-toggle", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Справочники <span class="caret"></span>
      ul(class="dropdown-menu")
        li
          a(href="{{ url_for('trans.homepage') }}") Дела
        li
          a(href="{{ url_for('trans.homepage') }}") Описи

block style
  // link(href="{{ url_for('static', filename='css/dropzone.min.css') }}", rel="stylesheet")
  link(href="{{ url_for('static', filename='css/index.css') }}", rel="stylesheet")
  | {% block style %}{% endblock %}

block script
  // script(src="{{ url_for('static', filename='js/dropzone.min.js') }}")
  script(src="{{ url_for('static', filename='js/index.js') }}")
  | {% block script %}{% endblock %}
